@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;500;600;700&famliy=Crete+Round&family=Montserrat&family=Open+Sans:wght@400;500;600;700&family=Oswald&family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 375px) {
  .mainContainer {
    position: relative;
  }

  .navContainer {
    background-color: #3c3a39;
  }

  .navbar {
    height: 44px;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
  }

  .navDesktop {
    display: none;
  }

  .my-logo {
    text-decoration: none;
    font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    align-items: center;
    color: #fff;
  }

  .close-cross {
    padding-left: 300px;
    color: #979493;
    font-size: 24px;
  }

  .showHamburger {
    display: none;
  }

  .showHamburger ul {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: #3c3a39;
    display: block;
    padding: 0 24px;
  }

  .showHamburger ul a {
    text-decoration: none;
  }

  .showHamburger li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff5e1;
    padding: 10px 12px;
    z-index: 10;
    border-bottom: 1px solid #6f6c6b;
    margin-top: 20px;
  }

  .fas.fa-bars {
    color: #fff;
  }

  .hamburger:hover {
    transform: scale(1.5);
    transition: all 0.8s ease-out;
  }

  .show-showHamburger {
    display: block;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 100vh;
    background-color: #1c1a19;
    position: relative;
  }

  .info-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.7;
  }

  .main-info {
    padding: 0 24px;
    gap: 12px;
    margin-top: 5px;
  }

  .main-info h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .main-info h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff5e1;
  }

  .main-info p {
    font-family: "poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .social-icon,
  .social-icon2 {
    display: flex;
    gap: 16px;
    font-size: 24px;
    padding: 16px;
  }

  .social-icon li,
  .social-icon2 li {
    list-style: none;
  }

  .social-icon {
    margin-left: 9px;
  }

  .social-icon i,
  .social-icon2 i {
    color: #fff;
  }

  /* works section */

  .works-section h2 {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    height: 107px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;
    color: #1c1a19;
    border-bottom: 1px solid #1c1a19;
  }

  .works {
    display: flex;
    flex-direction: column;
  }

  .works img {
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 24px;
    height: 237px;
    width: 327px;
  }

  .workDetails {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .workDetails h3 {
    font-weight: 400;
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    margin-top: 24px;
  }

  .workDetails p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -10px;
  }

  .work-lang {
    display: flex;
    gap: 12px;
    margin-top: -10px;
  }

  .work-lang li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    padding: 10px 12px;
    border: 1px solid #8993a4;
  }

  .workDetails button {
    background-color: #ff6b00;
    color: #fff;
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    padding: 12px;
    height: 48px;
    width: 124px;
    border: none;
  }

  .works-main {
    margin: 0 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .workCard1 button,
  .workCard2 button,
  .workCard3 button,
  .workCard4 button,
  .workCard5 button,
  .workCard6 button {
    background-color: #ff6b00;
    color: #fff;
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    height: 48px;
    width: 325px;
    border: none;
    margin-top: 20px;
    margin-left: 1px;
  }

  .workCard1,
  .workCard2,
  .workCard3,
  .workCard4,
  .workCard5,
  .workCard6 {
    position: relative;
    top: 0;
    left: 0;
    width: 327px;
    height: 386px;
    background-image: url("./images/ProjectImg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin-top: 24px;
  }

  .hide-card {
    margin-top: 10px;
  }

  .third-card {
    padding-top: 92px;
  }

  .move3 {
    margin-top: -140px;
  }

  .move4 {
    margin-top: -50px;
  }

  .card-title {
    position: relative;
    z-index: 2;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin: 0 12px;
    color: #fff;
    padding-bottom: 20px;
  }

  .card-details {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 12px;
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 12px;
  }

  .card-lang {
    display: flex;
    gap: 12px;
    position: relative;
    z-index: 2;
    margin-top: 12px;
    margin-left: 12px;
  }

  .card-lang li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding: 10px 12px;
    background-color: #ffffff4a;
  }

  .about-section {
    background-color: #1c1a19;
    margin-top: 120px;
  }

  .aboutDetails {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding-bottom: 200px;
    position: relative;
  }

  .about-top {
    position: relative;
  }

  .about-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Frame.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.9;
    transform: rotate();
  }

  .aboutDetails h2 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 120px;
    margin: 0 24px;
  }

  .aboutDetails p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin: 0 24px;
  }

  .aboutDetails button {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    color: #fff;
    padding: 10px 12px;
    background-color: #ff6b00;
    text-decoration: none;
    width: 156px;
    margin: 0 24px;
  }

  .skills {
    margin: 0 24px;
    border-top: 1px solid #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 80px;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    place-items: center;
    margin-top: 24px;
  }

  .top-skills {
    margin-top: 96px;
  }

  .skillsContainer h3 {
    font-family: "InaiMathi", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skillsContainer ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    justify-content: center;
    place-items: center;
  }

  .skillsContainer ul li {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    color: #fff;
    list-style: none;
  }

  .icon {
    color: #ff6b00;
    padding-right: 10px;
  }

  .contactInfo {
    padding: 0 24px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .contactForm input {
    width: 100%;
    height: 48px;
    border: none;
    border-bottom: 1px solid #a5a5a5;
  }

  .formHeader h2 {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-top: 100px;
  }

  .input {
    padding: 0 24px;
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    border: transparent;
    outline: none;
  }

  .input::placeholder {
    color: #979493;
  }

  #message {
    width: 100%;
    height: 114px;
    background-color: #fbf8f7;
    border: 1px solid #dbd8d7;
  }

  .contactForm button {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    width: 131px;
    height: 48px;
    padding: 12px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
  }

  .footer-icon {
    margin-top: 80px;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
  }

  .footer-icon i {
    color: #505f79;
    size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.navDesktop ul li:hover,
.logo a:hover,
.social-icon i:hover,
.social-icon2 i:hover,
.fas.fa-bars:hover {
  color: #ff6b00;
  transition: all 0.3s ease-out;
}

.btn:hover,
.modal-button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  transition: all 0.3s ease-out;
}

.btn:disabled,
.modal-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.btn:active,
.modal-button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 72px;
    padding: 0 142px;
  }

  .my-logo {
    font-size: 20px;
  }

  .fas.fa-bars {
    display: none;
  }

  .navDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .navDesktop ul {
    display: flex;
    gap: 8px;
  }

  .navDesktop ul a {
    text-decoration: none;
  }

  .navDesktop ul li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding: 10px 12px;
  }

  .far.fa-envelope {
    color: #fff;
    padding: 8px;
  }

  .main-info {
    width: 556px;
    position: relative;
    margin-left: 118px;
  }

  .info-section {
    background-color: #1c1a19;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    padding-top: 0;
    position: relative;
  }

  .info-section::before {
    background-image: url(./images/Illustration-header.png);
    background-size: 39%;
    opacity: 0.9;
  }

  .social-icon i {
    font-size: 20px;
  }

  .main-info h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 81.5px;
  }

  .main-info h3 {
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .main-info p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .social-icon {
    position: absolute;
    right: 94%;
    flex-direction: column;
    margin-left: 0;
  }

  .works-section {
    display: flex;
    flex-direction: column;
    margin: 0 118px;
  }

  .works-section h2 {
    border: none;
    color: #091e42;
    width: 315px;
  }

  .works-vector {
    border-bottom: 1px solid #212121;
    width: 68%;
    margin-left: 340px;
    margin-top: -80px;
  }

  .works {
    flex-direction: row;
    gap: 12px;
    display: flex;
    margin: 0 118px;
  }

  .works img {
    width: 50%;
    height: 448px;
    padding-top: 65px;
  }

  .works div {
    width: 448px;
    margin-left: -5px;
  }

  .workDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .workDetails h3 {
    font-size: 40px;
    line-height: 52px;
    margin-top: 90px;
  }

  .workDetails p {
    font-size: 20px;
    line-height: 28px;
  }

  .works-main {
    margin: 0 142px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 80px;
  }

  .workCard1,
  .workCard2,
  .workCard3,
  .workCard4,
  .workCard5,
  .workCard6 {
    height: 435px;
    width: 369px;
    border: 2px solid #091e42;
    position: relative;
  }

  .workCard1:hover {
    background-image: url(./images/TechTitans.png);
    background-size: contain;
  }
  .workCard2:hover {
    background-image: url(./images/Books.png);
    background-size: contain;
  }
  .workCard3:hover {
    background-image: url(./images/To-do-list.png);
    background-size: contain;
  }
  .workCard4:hover,
  .workCard5:hover,
  .workCard6:hover {
    background-image: url(./images/ProjectHoverImg.png);
  }

  .position button {
    position: absolute;
    bottom: 0;
    width: 369px;
    z-index: 2;
    margin-left: -1px;
  }

  .position {
    padding-top: 120px;
    bottom: 16px;
  }

  .move3 {
    margin-top: -90px;
  }

  .move5 {
    padding-top: 50px;
  }

  .position:hover > .hide-card {
    display: none;
    transition: all 0.8s ease-out;
  }

  .display-button {
    display: none;
  }

  .position:hover > .display-button {
    display: block;
    transition: all 0.8s ease-out;
  }

  .about-top::before {
    background-image: url(./images/About\ Frame.png);
    background-position: right center;
    background-size: 40%;
  }

  .aboutDetails {
    width: 50%;
    padding-left: 118px;
  }

  .aboutDetails::before {
    background-image: none;
  }

  .aboutDetails h2 {
    line-height: 81.5px;
  }

  .aboutDetails p {
    font-size: 20px;
    line-height: 32px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 142px;
  }

  .skillsContainer {
    margin-top: 120px;
    display: grid;
    justify-content: end;
    place-items: start;
  }

  .skillsContainer ul {
    place-items: start;
  }

  .move li:nth-child(1) {
    margin-top: -40px;
  }

  .contactInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 118px;
  }

  .formHeader {
    width: 45%;
  }

  .formHeader h2 {
    font-size: 40px;
    line-height: 52px;
    text-align: start;
    font-family: serif;
  }

  .contactForm {
    margin-top: 100px;
    width: 50%;
    align-items: start;
  }

  .social-icon2 {
    flex-direction: row;
    left: 50%;
  }
}

/* Form validation */
.error {
  color: #e11d48;
  font-size: 21px;
}

.success {
  color: #84cc16;
  font-size: 21px;
}
