*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 375px) {
  .navContainer {
    background-color: #3c3a39;
  }

  .navbar {
    height: 44px;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
  }

  .my-logo {
    text-decoration: none;
    font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    align-items: center;
    color: #fff;
  }

  .fas.fa-bars {
    color: #fff;
  }

  .main-info {
    background-color: #1c1a19;
    padding: 92px 24px;
    height: 100vh;
    display: block;
    gap: 12px;
    position: relative;
  }

  .main-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.7;
  }

  .main-info h1 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .main-info h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff5e1;
  }

  .main-info p {
    font-family: "poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .social-icon {
    display: flex;
    gap: 16px;
    font-size: 24px;
    padding: 16px;
  }

  .social-icon li {
    list-style: none;
  }

  .social-icon i {
    color: #fff;
  }

  /* works section */

  .works-section h2 {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    height: 107px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;
    color: #1c1a19;
    border-bottom: 1px solid #1c1a19;
  }

  .works-section img {
    margin-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
    height: 237px;
  }

  .workDetails {
    margin: 0 24px;
  }

  .workDetails h3 {
    margin-top: 24px;
    font-weight: 400;
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
  }

  .workDetails p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }

  .workDetails ul {
    display: flex;
    gap: 12px;
  }

  .workDetails ul li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    padding: 10px 12px;
    border: 1px solid #8993a4;
  }

  .workDetails button {
    background-color: #ff6b00;
    color: #fff;
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    padding: 12px;
    margin-top: 12px;
    height: 48px;
    width: 124px;
    border: none;
  }

  .workCard {
    margin: 0 24px;
    position: relative;
    top: 0;
    left: 0;
    width: 327px;
    height: 386px;
    background-image: url("./images/Img\ Placeholder\ for\ work\ card.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin-top: 24px;
  }

  .workCard h2 {
    position: relative;
    z-index: 2;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin: 0 12px;
    color: #fff;
    padding-top: 80px;
  }

  .workCard p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 12px;
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 12px;
  }

  .workCard ul {
    display: flex;
    gap: 12px;
    position: relative;
    z-index: 2;
    margin-top: 12px;
    margin-left: 12px;
  }

  .workCard ul li {
    list-style: none;
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding: 10px 12px;
    background-color: #ffffff4a;
  }

  .workCard button {
    background-color: #ff6b00;
    color: #fff;
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    margin-top: 12px;
    height: 48px;
    width: 327px;
    border: none;
  }

  .about-section {
    background-color: #1c1a19;
    margin-top: 120px;
  }

  .aboutDetails {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding-bottom: 200px;
    position: relative;
  }

  .aboutDetails::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Frame.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.9;
    transform: rotate();
  }

  .aboutDetails h2 {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 120px;
    margin: 0 24px;
  }

  .aboutDetails p {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin: 0 24px;
  }

  .aboutDetails button {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    color: #fff;
    padding: 10px 12px;
    background-color: #ff6b00;
    text-decoration: none;
    width: 156px;
    margin: 0 24px;
  }

  .skills {
    margin: 0 24px;
    border-top: 1px solid #fff;
    margin-top: 16px;
  }

  .top-skills {
    padding-top: 100px;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    justify-content: center;
    place-items: center;
    margin-top: 32px;
  }

  .skillsContainer h3 {
    font-family: "InaiMathi", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skillsContainer ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    justify-content: center;
    place-items: center;
  }

  .skillsContainer ul li {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    color: #fff;
    list-style: none;
  }

  .icon {
    color: #ff6b00;
    padding-right: 10px;
  }

  .stack-skils {
    padding-bottom: 80px;
  }

  .contactInfo {
    padding: 0 24px;
  }

  .formHeader h2 {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    margin-top: 100px;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .contactForm input {
    width: 100%;
    height: 48px;
    border: none;
    border-bottom: 1px solid #a5a5a5;
  }

  .input::placeholder {
    font-family: "inter", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    padding-left: 12px;
  }

  .input:valid {
    border: 2px solid green;
  }

  .input:invalid {
    box-shadow: 0 0 2px 1px #ff0000;
  }
  .input:invalid {
    box-shadow: none;
    border-color: initial;
    /* border-bottom: 1px solid #a5a5a5; */
  }

  #message {
    width: 100%;
    height: 114px;
    background-color: #fbf8f7;
  }

  #message::placeholder {
    font-family: "inter", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    padding-left: 12px;
  }

  .contactForm button {
    font-family: "inter", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
    width: 131px;
    height: 48px;
    padding: 12px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
  }

  .footer-icon {
    margin-top: 130px;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
  }

  .footer-icon i {
    color: #505f79;
    size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}
